:root {
    --primary-color: #4CAF50;
    --error-color: #d55c5f;
    --light-color: #f1f1f1;
    --dark-color: #5d6063;
    --bg-color: #f6f7f8;
    --border-color: #d6d9dc;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 600px;
}

fieldset {
    margin: 20px;
}

.registration-form-header {
    text-align: center;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    width: 600px;
    margin: 40px 0;
    padding: 50px;
}

.registration-form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #e92b8c;
}

.registration-form {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-group > div {
    display: flex;
}

.form-group input[type = 'text'],
.form-group input[type = 'email'],
.form-group input[type = 'password'] {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 250px;
    padding: 8px;
    font-size: 14px;
}

.form-group label {
    display: block;
    font-weight: bold;
    padding-right: 20px;
    width:120px;
    text-align: right;
    margin-top: 5px;
}

.form-group input[type = 'text']:invalid,
.form-group input[type = 'email']:invalid,
.form-group input[type = 'password']:invalid {
    border: 1px solid var(--error-color);
    color: var(--error-color);
    color: #d55c5f;
    padding: 8px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 10px 10px 5px lightblue;
}

.form-group input[type = 'text']:focus,
.form-group input[type = 'email']:focus,
.form-group input[type = 'password']:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

.form-group button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #388E3C; /* darkened shade of primary color */
}

.form-group button:active {
    background-color: #1B5E20; /* even darker shade of primary color */
}

.error-message {
    color: var(--error-color);
    margin: 10px 0 0 240px;
    width: 400px;
}

#success-message{
    color: var(--primary-color);
}

@media only screen and (max-width: 400px) {
    .registration-form-header,
    #registration-form {
        width: 100%;
    }

    #form {
        width:400px;
    }

    .form-group {
        flex-direction: row;
        align-items: flex-start; /* To avoid stretching */
        margin-bottom: 20px;
    }

    .form-group > div {
        flex-direction: column;
    }

    .form-group input[type = 'text'],
    .form-group input[type = 'email'],
    .form-group input[type = 'password'] {
        width: 250px;
        height: initial;
    }

    .form-group label {
        text-align: left;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }
    
    .error-message {
        color: var(--error-color);
        margin: 10px 0 0 80px;
        width: 350px;
    }
}